@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  position: relative;
}
.sidebar {
  height: 100%;
  width: 230px;
  position: fixed;
  padding: px 0px;
  border-right: 1px solid #ccc;
  background-color: #fff;
  transition: transform 0.3s ease; /*agrega transicion para animacion suave*/
  overflow-y: auto;
}
.sidebar.active {
  transform: translateX(
    0
  ); /* Mostrar el sidebar cuando la clase 'active' está presente */
  z-index: 999;
  overflow-y: auto;
}

/*Para encabezado de conversación*/
#encabezadoChat span {
  color: white; /* Aplicar color blanco */
  font-family: 'Impact', Charcoal, sans-serif; /* Cambiar la fuente a Impact */
  font-size: 30px; /* Cambiar el tamaño de la fuente a 20px */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agregar sombra al texto */
}

/*Para encabezado de conversación*/
#conversacionesUsuarios span {
  color: rgb(1, 1, 1); /* Aplicar color blanco */
  font-size: 15px; /* Cambiar el tamaño de la fuente a 20px */
  display: block; /* Hacer que los spans sean elementos de bloque */
  text-align: center; /* Centrar el texto dentro de los spans */
  
}


/*Boton ir a contactos*/
#btnContacto {
  cursor: pointer; /* Cambia el cursor a tipo 'pointer' al pasar sobre el elemento */
}

/*Contenedor de Perfil del usuario*/
.usoPerfil {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 70px;
  background-color: #ed5656;
}
.usoPerfil img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/*Parrafo de perfil*/
#NombreUsuario {
  text-align: center; /* Centrar el texto horizontalmente */
  color: white; /* Cambiar el color del texto a blanco */
  font-weight: bold; /* Poner el texto en negrita */
  padding-left: 20px; /* Agregar relleno a la izquierda */
  text-shadow:
    1px 1px 3px rgb(2, 2, 3);
}

/* Estilos para el menú emergente */
.desplegable {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px;
}

.desplegable a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 8px 0;
}

.desplegable a:hover {
  background-color: #ddd;
}
/*para lista de usuario*/
li {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
li:hover {
  background-color: blanchedalmond;
}
a {
  display: flex;
  align-items: center;
  
}
a img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
a span {
  font-size: 20px;
  margin-left: 10px;
  color: #000;
}
/*boton ir a grupos*/
.contenedorbtnArriba {
  position: sticky;
  top: 0; /* Fijar en la esquina superior */
  right: 0; /* Fijar en la esquina derecha */
  top: 80%;
}

.btnArriba {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px; /* Distancia desde la esquina superior */
}

.btnArriba a {
  border-radius: 50%;
  background-color: #ed5656; /* Color del botón */
  color: #fff; /* Color del texto/icono */
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btnArriba a:hover {
  background-color: #db3636; /* Color al pasar el mouse */
}
.mensajeh, .mensajeCto {
  position: absolute;
  top: 0;
  right: 60px; /* Posición al lado del botón */
  width: 100px; /* Ancho de la caja de texto */
  height: 30px; /* Altura de la caja de texto */
  display: none; /* Por defecto oculto */
  border: 1px solid #ccc; /* Borde */
  padding: 5px; /* Espaciado interno */
}
/*Boton ver contactos*/
.contenedorbtnVer{
  position: sticky; /* Posición absoluta para el contenedor del botón */
  bottom: 0; /* Fijar en la esquina inferior */
  right: 0; /* Fijar en la esquina derecha */
  top: 100%;
}
.btnVer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}
.btnVer a {
  border-radius: 50%;
  background-color: #ed5656;
  width: 45px;
  height: 45px;
  padding: 15%;
}
.btnVer a:hover{
  background-color: #db3636;
}
/*fin de sidebar*/
/*estilos de nav*/
/*hamburger en nav*/
.menu {
  display: none;
  float: left;
  margin-left: 20px;
  padding-right: 2%;
}
.navChat {
  height: 70px;
  background-color: #ed5656;
  width: 100%;
  position: fixed;
  top: 0;
  left: 230px;
  display: flex;
  align-items: center;
}
.navChat img {
  margin-left: 1%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.navChat span {
  margin-left: 3%;
}
/*fin nav*/
/*div mensajes*/
.mensajes{
  position: fixed;
  top: 70px;
  bottom: 70px;
  left: 230px;
  right: 0;
  overflow-y: auto;
}

/*---------------------------------------------------------------------------------*/
/*CONTENEDOR DE MENSAJES ENVIADOS*/
#divMensajesEnviados{
  display: flex;
  max-width: 400px;
  justify-content: flex-end;
  text-align: left; /* Alinea el texto a la derecha */
  margin-left: auto; /* Mueve el div hacia la derecha */
}
#divMensajesEnviados p{
  background-color:rgb(209, 209, 209);
  color: #000;
  border-radius: 20px;
  padding: 10px 8px;
  margin: 1px;
}

/*CONTENEDOR DE MENSAJES GENERALES ENVIADOS*/
#divMensaje{
  display: block;
  max-width: 400px;
  justify-content: flex-end;
  flex-direction: column-reverse;
  text-align: left; /* Alinea el texto a la derecha */
  margin-left: auto; /* Mueve el div hacia la derecha */
}
#divMensaje p{
  border-radius: 20px;
  padding: 10px 8px;
  margin: 1px;
}

#horaActual
{
  text-align: right; /* Alinea el texto del párrafo a la derecha */
  font-size: 10px;
  margin-left: auto; /* Mueve el párrafo hacia la derecha */
}
/*---------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------*/
/*CONTENEDOR DE MENSAJES RECIBIDOS*/
#divMensajesRecibidos{
  display: flex;
  max-width: 400px;
  justify-content: flex-start;
  text-align: left; /* Alinea el texto a la derecha */
  margin-right: auto; /* Mueve el div hacia la derecha */
}
#divMensajesRecibidos p{
  background-color:rgb(251, 158, 158);
  color: #000;
  border-radius: 20px;
  padding: 10px 8px;
  margin: 1px;
  margin-right: auto; /* Mueve el div hacia la derecha */
}

/*CONTENEDOR DE MENSAJES GENERALES RECIBIDOS*/
#divMensajeR{
  display: block;
  max-width: 400px;
  justify-content: flex-end;
  flex-direction: column-reverse;
  text-align: left; /* Alinea el texto a la derecha */
  margin-right: auto; /* Mueve el div hacia la derecha */
}
#divMensajeR p{
  border-radius: 20px;
  text-align: left; /* Alinea el texto del párrafo a la derecha */
  margin-right: auto; /* Mueve el párrafo hacia la derecha */
  padding: 10px 8px;
  margin: 1px;
}

#horaActualR
{
  text-align: left; /* Alinea el texto del párrafo a la derecha */
  font-size: 10px;
  margin-right: auto; /* Mueve el párrafo hacia la derecha */
}
/*---------------------------------------------------------------------------------*/

.mensajes div{
  padding: 1%;
}
/*contenedor input y boton envio*/
.msmEnvio {
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 230px;
  display: flex;
  align-items: center;
}
.msmEnvio input {
  width: 70%;
  margin-left: 4%;
  padding: 15px 10px;
  border-radius: 15px;
  outline: none;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  font-size: medium;
}
.msmEnvio button {
  margin-left: 0.5%;
  border-radius: 50%;
  border: none;
  background-color: #ed5656;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.msmEnvio button:hover {
  background-color: #e73939;
}
.msmEnvio button svg {
  width: 30px;
  height: 30px;
  padding: 1%;
  cursor: pointer;
}
@media only screen and (max-width: 1180px) {
  /*mueve el inpuut y el button envio en dispositivos */
  .msmEnvio {
    position: fixed;
    bottom: 0;
    height: auto;
    padding: 2% 4%;
  }

  /*hace el input y en button envio al 100% para dispositvos */
  .msmEnvio input {
    width: 65%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 760px) {
  /*esconde el sidebar en dispositivos*/
  .sidebar {
    display: none;
  }
  .sidebar.active {
    display: block; /* Mostrar el sidebar activo en dispositivos móviles */
  }
  /*hace navChat 100% para dispositivos*/
  .navChat {
    width: 100%;
    left: 0;
  }

/* icono visible para dispositivos*/
.menu {
  display: block;
  cursor: pointer;
}
.mensajes{
  left: 0;
  right: 0;
}

  /*mueve el input y button de envio en dispositivos*/
  .msmEnvio {
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    padding: 2% 4%;
  }

  /* input y button full*/
  .msmEnvio input {
    width: 100%;
    margin-left: 0;
  }
  /* icono visible y responsive */
  .sidebar {
    cursor: pointer;
  }
  .menu:hover {
    display: block;
  }
}

/*-----------------------------------------------------------------------------------------*/
/*Modificación de la barra de desplazamiento*/
/* Ancho de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho */
}

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo */
}

/* Color de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #888; /* Color de la barra */
  border-radius: 5px; /* Bordes redondeados */
}

/* Cambiar el color al pasar el cursor por encima */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------*/
#subidaImagen{
  cursor: pointer;
}
/*-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------*/
/*Edición de foto de perfil*/
#fotoPerfil {
  width: 45px; /* Ajusta el tamaño según sea necesario */
  height: 45px; /* Ajusta el tamaño según sea necesario */
  border-radius: 50%; /* Hace que la imagen sea redonda */
  object-fit: cover; /* Mantiene la relación de aspecto y recorta la imagen si es necesario */
}