/*======================
    404 page
=======================*/

/*Fondo de las sección*/
.page_404{ 
    padding:40px 0; 
    background:#fff; 
    font-family: 'Arvo', serif;
}

.page_404 img{ 
    width:100%;
}

.imagenMovible{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    
}
 

/*TITULO INICIAL-------------------------------------------------------------------*/
.four_zero_four_bg {
    text-align: center; /* Centrar el contenido horizontalmente */
}
.four_zero_four_bg h1 {
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 70px;
    width: 100%;
    margin: 0 auto;
}
/*-----------------------------------------------------------------------------------*/
 
.four_zero_four_bg h3{
    font-size:80px;
}
       
.link_404{      
    color: #fff!important;
    padding: 10px 20px;
    background: #ac3131;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404{ 
    margin-top:-50px;
}